/* header 部分 start */
.nav li:nth-child(2) a {
	color: #7E4F45;
	text-shadow: 2px 2px 2px #fff;
}
.nav li:nth-child(2)  a:hover {
	color: #fff;
	text-shadow: 2px 2px 2px #7E4F45;
}
/* header 部分 end */
/* 主体部分 start*/
.conten {
	margin: 10px auto;
	background-color: #fff;
}



.conten .video {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.content_introduction,
.story {
	margin: 10px auto;
	overflow: hidden;
	background-color: rgba(20, 20, 20, .2);
}
.content_introduction .Title,
.story .title1 {
	margin-top: 25px;
	line-height: 50px;
}
.content_introduction h3,
.story h3 {
	text-align: center;
	font-size: 18px;
}
.content_introduction .Label {
	line-height: 35px;
	text-align: center;
	border-bottom: 2px solid rgba(240, 240, 240, .6);
}
.content_introduction .Text,
.story .text1 {
	padding: 0 15px;
}
.content_introduction p,
.story p {
	text-indent: 2em;
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 25px;
	margin: 15px auto;
}
.story h3 {
	border-bottom: 2px solid rgba(240, 240, 240, .6);
}
/* 主体部分 end */