.big_w {
	width: 1519px; /* 首页版心 */
	margin: 0 auto;
}
/* header 部分 start */
.nav li:first-child a {
	color: #7E4F45;
	text-shadow: 2px 2px 2px #fff;
}
.nav li:first-child  a:hover {
	color: #fff;
	text-shadow: 2px 2px 2px #7E4F45;
}
/* header 部分 end */

/* 小导航栏 start*/
.small_nav {
	width: 100%;
	height: 144px;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, .3);
}
.small_nav .music {
	padding: 45px 8px;
}
.small_nav a {
	display: block;
	width: 950px;
	height: 144px;
	background: url("../images/wl.png") no-repeat center;
	border-radius: 50px;
}
.small_nav .tupian {
	width: 144px;
	height: 144px;
	background-color: #D1B6E1;
	background: url("https://upload-bbs.mihoyo.com/upload/2021/03/17/192341550/85dc694736d49d8bf6fb525fccf70e0d_4369578625843762878.gif?x-oss-process=image//auto-orient,0/interlace,1/format,gif") no-repeat center /200px auto;
	border-radius: 50%;
	box-shadow: 5px 5px 15px 16px rgba(255, 255, 255, .6) inset,
	5px 4px 30px 2px rgba(0, 0, 0, .3);
	float: right;
	margin-right: 50px;
}
/* 小导航栏 end */
/* 主图 start */
.content {
	margin: 10px auto;
}
.content div {
	width: 1519px;
	height: 800px;
	margin-bottom: 10px;
}