* {
	margin: 0;
	padding: 0;
}
 html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: url("../images/bg.png") no-repeat 0px 0px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}
 body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
 #loginDiv {
	width: 37%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;
	background-color: rgba(75, 81, 95, 0.3);
	box-shadow: 7px 7px 17px rgba(130, 132, 136, 0.5);
	border-radius: 1000px;
	animation: turn 1s linear;
}
 @keyframes turn {
     0% {
		-webkit-transform: perspective(400px) rotateY(180deg);
     }
     100% {
		webkit-transform: perspective(400px) rotateY(0deg);
     }
}
 #name_trip {
	margin-left: 50px;
	color: red;
}
 p {
	margin-top: 30px;
	margin-left: 20px;
	color: azure;
}
input {
	margin-left: 15px;
	border-radius: 5px;
	border-style: hidden;
	height: 30px;
	width: 140px;
	background-color: rgba(243, 241, 243, .2);
	outline: none;
	color: #f0edf3;
	padding-left: 10px;
}

 .button {
	border-color: cornsilk;
	background-color: rgba(100, 149, 237, .7);
	color: aliceblue;
	border-style: hidden;
	border-radius: 5px;
	width: 100px;
	height: 31px;
	font-size: 16px;
}